.header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 47px;
    font-weight: bold;
    color: white;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

small {
    color: white;
}

input[type="email"],
input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-check-label {
    font-weight: normal;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

body {
    background-image: url(pexels-yulia-pribytkova-15125544.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.9;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
}

.form-group {
    padding: 1rem;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-check-label {
    font-weight: normal;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

button.btn {
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.2s ease-in-out;
}

button.btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}

.footer {
    background-color: #212529;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.footer p {
    margin-bottom: 0.5rem;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */


/*@media only screen and (max-width: 768px) {
    /* For mobile phones: 
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
    }
}*/

@media only screen and (max-width: 576px) {
    form {
        width: 90%;
        padding: 1rem;
    }
    .header {
        font-size: 30px;
    }
    label,
    small {
        font-size: 0.9rem;
    }
    input[type="email"],
    input[type="password"] {
        font-size: 0.8rem;
    }
    .btn-primary {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
}